/* your styles go here */

#adminfooter{
  /*position:absolute;*/
  bottom:0;
  width:100%;
  height:50px;
}

#postbaru{
  background-color: #2f333e;
  color: white;
  margin-left: 750px;
}

#adminartikel{
  width: 200px;
  height: 100px;
}
